<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>
<body>
<!-- 결제 UI -->
<div id="payment-method"></div>
<!-- 이용약관 UI -->
<div id="agreement"></div>
<!-- 충전 금액, requestId , customerKey-->
<p th:text="${amount}"></p>
<p th:text="${requestId}"></p>
<p th:text="${customerKey}"></p>

<!-- 충전하기 버튼 -->
<button class="button" id="payment-button" style="margin-top: 30px">충전하기</button>

<script>
  const button = document.getElementById("payment-button");
  const amount = [[${amount}]];
  const orderName = `[[${amount}]] 원 충전`
  const orderId = `[[${requestId}]]`
  const customerKey = `[[${customerKey}]]`
  main();
  async function main() {
    // ------  결제위젯 초기화 ------
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const tossPayments = TossPayments(clientKey);
    // 회원 결제
    const widgets = tossPayments.widgets({
      customerKey,
    });
    // 비회원 결제
    // const widgets = tossPayments.widgets({ customerKey: TossPayments.ANONYMOUS });

    // ------ 주문의 결제 금액 설정 ------
    await widgets.setAmount({
      currency: "KRW",
      value: amount,
    });

    await Promise.all([
      // ------  결제 UI 렌더링 ------
      widgets.renderPaymentMethods({
        selector: "#payment-method",
        variantKey: "DEFAULT",
      }),
      // ------  이용약관 UI 렌더링 ------
      widgets.renderAgreement({ selector: "#agreement", variantKey: "AGREEMENT" }),
    ]);

    // ------ '충전하기' 버튼 누르면 결제창 띄우기 ------
    button.addEventListener("click", async function () {
      await widgets.requestPayment({
        orderId: orderId,
        orderName: orderName,
        successUrl: window.location.origin + "/charge-order-requested",
        failUrl: window.location.origin + "/charge-fail",
        customerEmail: "customer123@gmail.com",
        customerName: "김토스",
        customerMobilePhone: "01012341234",
      });
    });
  }
</script>
</body>
</html>